.chrono-header-container,
  .chrono-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.05);
}

.chrono-footer-container {
  justify-content: space-around;
}

.chrono-header-container {
  justify-content: space-between;
}
