.content-container {
  background: rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 30em;
}

@media (max-width: 1025px) {
  .content-wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 20% 80%;
    grid-template-areas: "content-sidebar content-title" "content-sidebar content-content";
    padding-bottom: 1em;
  }
}

@media (min-width: 1025px) {
  .content-wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 25% 75%;
    grid-template-areas: "content-sidebar content-title" "content-sidebar content-content";
    padding-bottom: 1em;
  }
}

.content-box {
  padding: 0.5em;
}

.content-sidebar {
  grid-area: content-sidebar;
  text-align: center;
}

.content-content {
  padding-right: 2em;
  grid-area: content-content;
}

.content-title {
  grid-area: content-title;
}
