@media (max-width: 1025px) {
  .content-sidebar-image {
    padding-top: 1em;
    height: 3em;
  }
}

@media (min-width: 1025px) {
  .content-sidebar-image {
    padding-top: 1em;
    height: 4em;
  }
}
