.content-container {
  background: rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 400px;
}

.content-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30% 70%;
  grid-template-areas:
          "content-sidebar content-title"
          "content-sidebar content-content"
          "content-sidebar content-footer";
  padding-bottom: 1em;
}

.content-box {
  padding: 10px;
}

.content-sidebar {
  grid-area: content-sidebar;
  align-self: center;
  text-align: center;
}

.content-content {
  grid-area: content-content;
}

.content-title {
  grid-area: content-title;
}

.content-footer {
  grid-area: content-footer;
}
