.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-item-left {
  align-self: left;
}

.footer-item-right {
  align-self: right;
}

.iceberg-container {
  height: 18em;
  margin-top: -15em;
}

.personal-logo-container {
  height: 2.5em;
  padding-top: 3em;
}
