.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer-item-center {
  align-self: center;
}

.personal-logo-container {
  height: 7vh;
}
