@media (max-width: 1025px) {
  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header-links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .header-contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1em;
  }

  .header-item {
    align-self: auto;
    padding-bottom: 0.5em;
  }
}

@media (min-width: 1025px) {
  .header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .header-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header-contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header-item {
    align-self: auto;
  }
}

.iframe-hidden {
  display: none;
}
