.image-scaling-smaller {
  height: 1em;
}

.image-scaling-small {
  height: 2em;
}

.image-scaling-medium {
  height: 2.5em;
}

.image-scaling-large {
  height: 3em;
}

.image-scaling-larger {
  height: 4em;
}

.image-scaling-huge {
  height: 5em;
}

.image-align-right {
  text-align: right;
}
