html {
  height: 100%;
  background: linear-gradient(15deg, #2E3192, #29ABE2 100%) no-repeat;
  color: white;
  font-family: Dosis, sans-serif;
}

.page-wrapper {
  display: grid;
  height: 95vh;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
          "page-header  page-header"
          "page-sidebar page-content"
          "page-footer  page-footer";
}

.page-header {
  grid-area: page-header;
  padding: 10px;
}

.page-sidebar {
  grid-area: page-sidebar;
  align-self: center;
  padding-left: 3em;
  padding-bottom: 15em;
}

.page-content {
  min-width: 500px;
  grid-area: page-content;
  align-self: center;
  justify-self: center;
}

.page-footer {
  grid-area: page-footer;
  padding: 10px;
  align-self: left;
  justify-self: left;
}
