html {
  height: 100vh;
  color: white;
  font-family: Dosis, sans-serif;

}

@media (max-width: 1025px) {
  html {
    background-color: #3685E2;
  }
}

@media (min-width: 1025px) {
  html {
    background: linear-gradient(15deg, #2E3192, #29ABE2 100%) no-repeat;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 1025px) {
  .page-wrapper {
    display: grid;
    grid-template-areas: "page-header"
    "page-content";
  }

  .page-header {
    grid-area: page-header;
    padding: 5px;
  }

  .page-sidebar {
    display: none;
  }

  .page-content {
    grid-area: page-content;
    align-self: center;
    justify-self: center;
  }

  .page-footer {
    display: none;
  }
}

@media (min-width: 1025px)  {

  .page-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
            "page-header  page-header"
            "page-sidebar page-content"
            "page-footer  page-footer";
    height: 100vh;
  }

  .page-header {
    grid-area: page-header;
    padding: 10px;
  }

  .page-sidebar {
    grid-area: page-sidebar;
    align-self: center;
    padding: 5em;
  }

  .page-content {
    grid-area: page-content;
    align-self: center;
    justify-self: center;
    padding: 3em;
    z-index: 1000;
  }

  .page-footer {
    grid-area: page-footer;
    padding: 1em 1em 1em 5em;
  }
}
